@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color:#202124;
    font-family: mulish;
}
input:checked ~ .dot {
    transform: translateX(-100%);
    background-color: #4D4D4D
    ;
  }
input:checked ~ .notdot {
    background-color: #DB5E5E
    ;
  }
.text-blue-500 {
    --tw-text-opacity: 1;
    color: rgba(59, 130, 246, var(--tw-text-opacity));
}
.w-96{
    width: 485px; 
}