@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    font-family: mulish;
}
input:checked ~ .dot {
    transform: translateX(-100%);
    background-color: #4D4D4D
    ;
  }
input:checked ~ .notdot {
    --tw-bg-opacity: 1;
    background-color: #DB5E5E;
  }
.text-blue-500 {
    --tw-text-opacity: 1;
    color: rgba(59, 130, 246, var(--tw-text-opacity));
}

.outline-red{
  outline: #DB5E5E solid;
}
.changeColor{
  
}