@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color:#202124;
    font-family: mullish;
}
input:checked ~ .dot {
    transform: translateX(-100%);
    background-color: #4D4D4D
    ;
  }
.textthis {
    margin-right: 10px;
    color: white;
}
.CornerRight {
    position: absolute;
    right: 15px;
    margin-top: 15px;
}
.SiteCover {
    width: 1920px;
    height: 1980px;
    background-color: #202124;
}
.ti-search {
    margin-bottom: 50px;
}
.search-icon:hover {
    color: rgb(126, 120, 120);
}
.SearchNav {
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footerText{
    margin-top: 200px;
}